@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:wght@200;300;400;500;600&family=Silkscreen:wght@400;700&display=swap');

:root{
    --color-general: #6f808a;
    --fondo-header: #5b47df;
    --color-morado: #5b47df;
    --color-negro: #1d2124;
    --color-hover-morado: #705cf4;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--color-general);
    line-height: 1.8;
}

h2,h3,h4,h5,h6{
    color: var(--color-negro);
}

header{
    background-color: var(--fondo-header);
    padding: 20px 0;
}

#hero{
    background-image: url("../img/bg-home.png ");
    background-position: top center;
    background-size: cover;
    color: #fff;
    padding: 7% 0 10%;
}

#hero h1{
    font-weight: 700;
    font-size: 40px;
}

#hero p{
    font-size: 20px;
    margin: 20px 0;
}

.btn-karma{
    background-color: var(--color-morado);
    color: #fff;
    border: 2px solid #fff;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 10px;
    font-size: 14px;
}
.btn-karma:hover{
    background-color: #705cf4;
    border-color: #705cf4;
    color: #fff;
}

#hero .btn-dark{
    background-color: transparent;
}

#hero .btn-dark:hover{
    background-color: #705cf4;
    border-color: #705cf4;
}

.section{
    padding: 5% 0;
}

#pagos img{
    opacity: 0.4;
}

#pagos img:hover{
    opacity: 1;
    cursor: pointer;
}

#pagos{
    border-bottom: 1px solid #eee;
}

.titulos{
    font-weight: 700;
    font-size: 50px;
    color: var(--color-negro);
}

.ps-3{
    padding-left: 50px !important;
}

#solutions ul{
    list-style: none;
    padding-left: 0;
}

#solutions ul a{
    color: var(--color-general);
    text-decoration: none;
}


.btn-nav{
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px 30px ;
}
.btn-nav:hover{
    background-color: var(--color-hover-morado);
    color: #fff !important;
}


/*Definiciones de reglas p+agina Contact*/

#hero-title{
    background-image: url("../img/bg-home.png");
    background-size: cover;
    background-position: top center;
    padding: 8% 0;
    text-align: center;
    color: #fff;
}
#hero-title h1{
    font-size: 55px;
    font-weight: 600;
}

.icon-contacto{
    font-size: 70px;
    background-color: #fff;
    color: var(--color-morado);
    box-shadow: 0px 0px 20px 7px #ddd;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
}

#contacto h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.formulario{
    box-shadow: 0px 0px 30px 5px #ddd;
    border-radius: 10px;
    padding: 40px 25px;
}
